  <p>
	  <span>Developing projects:</span>
	<ul>
	<table>
		<tr><td>Заказчик</td><td>Название болезни</td><td>Стоимость</td><td>Время</td></tr>
		{{#each projects}}
			<tr><td>{{name}}</td><td>{{desease}}</td><td>{{price}} 000 $</td><td>{{time}} month</td></tr>
		{{/each}}
	</table>
	</ul>
  </p>

